
.wrapper {
    position: relative;
    top: 0;
    height: 100vh; }
.wrapper.wrapper-full-page {
    min-height: 100vh;
    height: auto; }

.full-page > .content,
.full-page > .footer {
    position: relative;
    z-index: 4; }
.full-page.section-image {
    position: initial; }

.full-page > .content {
    padding-bottom: 150px;
    padding-top: 150px; }

.full-page .footer {
    position: absolute;
    width: 100%;
    bottom: 0; }
.full-page .footer .container {
    color: #FFFFFF; }

.full-page .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center; }

.full-page:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.6); }

.full-page.pricing-page .description {
    margin-bottom: 65px; }

.full-page.register-page .info-horizontal {
    padding: 0px 0px 20px; }

.full-page.register-page .info-horizontal {
    text-align: left !important; }
.full-page.register-page .info-horizontal .icon {
    margin-top: 0; }
.full-page.register-page .info-horizontal .icon > i {
    font-size: 2em; }
.full-page.register-page .info-horizontal .icon.icon-circle {
    width: 65px;
    height: 65px;
    max-width: 65px;
    margin-top: 8px; }
.full-page.register-page .info-horizontal .icon.icon-circle i {
    display: table;
    margin: 0 auto;
    line-height: 3.5;
    font-size: 1.9em; }
.full-page.register-page .info-horizontal .description {
    overflow: hidden; }

.footer {
    padding: 24px 0; }
.footer.footer-default {
    background-color: #f2f2f2; }
.footer nav {
    display: inline-block;
    float: left;
    padding-left: 7px; }
.footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none; }
.footer ul li {
    display: inline-block; }
.footer ul li a {
    color: inherit;
    padding: 0.5rem;
    font-size: 0.8571em;
    text-transform: uppercase;
    text-decoration: none; }
.footer ul li a:hover {
    text-decoration: none; }
.footer .copyright {
    font-size: 0.8571em;
    line-height: 1.8; }
.footer:after {
    display: table;
    clear: both;
    content: " ";
}


.section-image {
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%; }
.section-image .title,
.section-image .card-plain .card-title {
    color: #FFFFFF; }
.section-image .nav-pills .nav-link {
    background-color: #FFFFFF; }
.section-image .nav-pills .nav-link:hover, .section-image .nav-pills .nav-link:focus {
    background-color: #FFFFFF; }
.section-image .info-title,
.section-image .info-area.info-horizontal .icon i,
.section-image .card-pricing.card-plain ul li {
    color: #FFFFFF; }
.section-image .description,
.section-image .info-area .icon:not(.icon-circle) {
    color: rgba(255, 255, 255, 0.8); }
.section-image .card:not(.card-plain) .info-title {
    color: #2c2c2c; }
.section-image .card:not(.card-plain) .info-area p,
.section-image .card:not(.card-plain) .info-area .icon,
.section-image .card:not(.card-plain) .description {
    color: #9A9A9A; }
.section-image .footer {
    color: #FFFFFF; }
.section-image .card-plain [class*="text-"],
.section-image .card-plain ul li b {
    color: #FFFFFF; }
.section-image .card-plain .category {
    color: rgba(255, 255, 255, 0.5); }
.section-image:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.7); }
.section-image .container {
    z-index: 2;
    position: relative; }
.form-check .form-check-label {
    display:inline-block;
    position:relative;
    cursor:pointer;
    padding-left:35px;
    line-height:26px;
    margin-bottom:0;
    -webkit-transition:color .3s linear;
    transition:color .3s linear
}